<a href="{{ url }}" class="c-block-hero">
{{#image}}
  {{> atoms-image:c-block-hero__img }}
{{/image}}
{{#inlineelement}}
    {{> atoms-inlineelement}}
{{/inlineelement}}
</a><!-- end c-block--hero-->