/**
 * This stylesheet is for styles you want to include only when displaying demo
 * styles for grids, animations, color swatches, etc.
 * These styles will not be your production CSS.
 */
#sg-patterns {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  max-width: 100%;
  padding: 0 0.5em;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.sg-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.sg-colors li {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0.3em;
  margin: 0 0.5em 0.5em 0;
  min-width: 5em;
  max-width: 14em;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.sg-swatch {
  display: block;
  height: 4em;
  margin-bottom: 0.3em;
  border-radius: 5px;
}

.sg-label {
  font-size: 90%;
  line-height: 1;
}

body {
  font-family: Helvetica, sans-serif;
}

.Button {
  display: inline-block;
  padding: 10px 20px;
  background: rgb(66, 91, 236);
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.btn-green {
  background: green;
}

.img-desktop{
  width: 100%;
  height:100%;
}

.img-tablet{
  width: 767px;
  height:500px;
}

.img-mobile{
  width: 376px;
  height:400px;
}

.img-logo{
  width: 175px;
  height:75px;
}
.c-primary-nav {
  display: none; }
  .c-primary-nav--is-active {
    display: block;
    position: absolute;
    padding: 1em 2em;
    top: 67px;
    right: 0;
    box-shadow: -3px 3px 5px -2px rgba(0, 0, 0, 0.2);
    z-index: 2;
    background: #fff; }
  @media all and (min-width: 46.8em) {
    .c-primary-nav {
      display: block;
      margin-right: 1rem; } }

/**
 * Nav List
 */
.c-primary-nav__list {
  display: none; }
  @media all and (min-width: 46.8em) {
    .c-primary-nav__list {
      display: flex; } }
  .c-primary-nav--is-active .c-primary-nav__list {
    display: block; }
.c-primary-nav__link {
  font-weight: bold;
  color: gray;
  display: block;
  padding: 1rem; }
.c-primary-nav__item{
  list-style-type: none;
  color: gray;
}

.c-search-form {
  display: none; }
  .c-search-form--is-active {
    display: block;
    position: absolute;
    top: 67px;
    right: 2px;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.2);
    background: #fff;
    z-index: 1; }
  @media all and (min-width: 29.75em) {
    .c-search-form {
      display: block; } }

/**
 * Search input
 */
.c-search-form__input {
  width: 100%;
  padding: 10px; 
}



/**
 * Hero Headline
 * 1) This sits overtop of the hero image when space permits
 */
 .c-block-hero__headline {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 1rem;
  font-size: 2.6rem;
  transition: all 0.2s ease; }
  @media all and (min-width: 50em) {
    .c-block-hero__headline {
      position: absolute;
      top: 3rem;
      left: 1rem;
      width: 50%;
      border-radius: 6px; } }
  .c-block-hero:hover .c-block-hero__headline, .c-block-hero:focus .c-block-hero__headline {
    background: #444444; }

    .c-block-hero {
      display: block;
      position: relative; }
    
    /**
     * Hero Image
     * 1) This is the primary hero image that runs full-bleed across the layout
     */
    .c-block-hero__img {
      display: block;
      width: 100%;
      max-height: 50vh;
      object-fit: cover; }
    
    /**
     * Hero Headline
     * 1) This sits overtop of the hero image when space permits
     */
    .c-block-hero__headline {
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 1rem;
      font-size: 2.6rem;
      transition: all 0.2s ease; }
      @media all and (min-width: 50em) {
        .c-block-hero__headline {
          position: absolute;
          top: 3rem;
          left: 1rem;
          width: 50%;
          border-radius: 6px; } }
      .c-block-hero:hover .c-block-hero__headline, .c-block-hero:focus .c-block-hero__headline {
        background: #444444; }
.c-header{
  display: flex;
    align-items: center;
    box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.2);
    padding: 0.5em 0;
}

.c-header__controls {
  margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 1rem;
}
.header-logo{
  margin:15px
}

@media all and (min-width: 46.8em) {
  .g-3up > .gi {
    float: left;
    width: 50%; }
    .g-3up > .gi:nth-of-type(2n+1) {
      clear: left; } }
@media all and (min-width: 50em) {
  .g-3up > .gi {
    width: 33.3333333%; }
    .g-3up > .gi:nth-of-type(2n+1) {
      clear: none; }
    .g-3up > .gi:nth-of-type(3n+1) {
      clear: left; } }

.c-tout-list__item{
  list-style-type: none;
}

.nostyling{
  list-style-type: none;
  color: gray;
}