<header class="c-header" role="banner">

	{{#inlineelement}}
        {{> atoms-inlineelement}}
    {{/inlineelement}}

	<div class="c-header__controls">
    {{#nav}}
		{{> molecules-primarynav }}
    {{/nav}}
    {{#search}}
		{{> molecules-search }}
    {{/search}}
	</div><!-- end c-header__controls -->

</header>